@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #f2fff3;
}

.title-text {
  flex-grow: 1;
  text-align: left;
  margin-left: 20px;
  font-family: Poiret One;
  font-size: 3em;
  margin: 0;
  color: #fb8b24;
}

.header {
  background-color: #0f4c5c;
  padding: 10px 0;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: Montserrat;
  font-size: 1.3em;
  position: relative;
  display: inline-block;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  background: white;
  transition: width 0.4s ease, right 0.4s ease, left 0.4s ease, background-color 0.4s ease;
}

.home-link::after {
  right: 50%;
}

.services-link::after {
  left: 50%;
}

.contact-link::after {
  right: 50%;
}

.home-link:hover::after {
  right: 0%;
  width: 100%;
  background-color: #e08a39; 
}

.services-link:hover::after {
  left: 0%;
  width: 100%;
  background-color: #8ad9f8; 
}

.contact-link:hover::after {
  right: 0%;
  width: 100%;
  background-color: #aaf787; 
}

.main-content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.image-section {
  width: 50%;
  background: url('../assets/welcoming.jpg') no-repeat center center;
  background-size: cover;
}

.form-section {
  width: 50%;
  background-color: #33607e;
  color: white;
  padding: 40px;
  box-sizing: border-box;
}

.form-title {
  margin-bottom: 30px;
  font-size: 1.8em;
  color: white;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: Montserrat;
}

.form-group input {
  width: calc(100% - 16px); 
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 15px;
  background: #fb8b24; 
  color: white;
  border: none;
  border-radius: 50px; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.submit-button:hover {
  background: #f1bb55; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
}

.submit-button:active {
  transform: translateY(0); 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
}

.footer {
  background-color: #0f4c5c;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: absolute; 
  bottom: 0;
  font-family: Montserrat;
}